<div class="home">
  <h1 class="home__title">Twitter</h1>
  <p>的なもの</p>
  <%= link_to "Sign Up", signup_path, class:"home__buttonLink" %>
  <div id="js-mail-left" class="home__mailContentLeft">
    <%= link_to image_tag("mail.png", alt:"mail logo", class:"home__mailImg") %>
  </div>
  <div id="js-mail-right" class="home__mailContentRight">
    <%= link_to image_tag("mail.png", alt:"mail logo", class:"home__mailImg") %>
  </div>
  <p class="home__descriptionMessage">これは、あなたの考えや思いを世界に向けて発信するサービスです！</p>
  <div class="home__mailBox">
    <%= link_to image_tag("mailbox.png", alt:"mail box", class:"home__mailImg") %>
    <p>admin user</p>
    <p>email: example@railstutorial.org</p>
    <p>password: foobar</p>
  </div>
</div>
