<% provide(:title, "ユーザー一覧") %>
<h1 class="usersTitle">ユーザー一覧</h1>
<%= will_paginate :previous_label=>'&#171;前', :next_label=>'次&#187;' %>
<ul class="users">
  <%= render @users%>
</ul>
<%= will_paginate :previous_label=>'&#171;前', :next_label=>'次&#187;' %>
