/* 共通 */
$base-blue: #61AAE8;
$white: #fff;
$red: #FF0900;
$green: #45FF9F;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.contents {
  flex: 1;
}
.shadow {
  display: none;
}
/* エラー文 */
.error {
  color: $red;
  margin-bottom: 40px;
}
/* 新規登録時のメッセージ */
.alert-success {
  width: 100%;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.alert-danger {
  width: 100%;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  background-color: $red;
  color: $white;
}
/* header */
.header {
  background-color: $base-blue;
  width: 100%;
  &__elements {
    padding: 20px 50px;
    display: flex;
  }
  &__logo {
    text-decoration: none;
    color: $white;
    font-size: 26px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav {
    margin: 0 0 0 auto;
  }
  &__ul {
    display: flex;
    justify-content: flex-start;
  }
  &__navList {
    list-style: none;
    margin-left: 30px;
  }
  &__navLink {
    color: $white;
    text-decoration: none;
    vertical-align: sub;
    &:hover {
      opacity: 0.7;
    }
  }
}
/* footer */
footer {
  background-color: $base-blue;
  color: $white;
  height: 50px;
  text-align: right;
  padding: 10px 20px;
}
/* home */
.contents {
  margin: 55px auto 100px;
  .home {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    position: relative;
    &__title {
      font-size: 78px;
      transition: font-size 1s;
      &:hover {
        font-size: 100px;
      }
    }
    &__descriptionMessage {
      font-size: 30px;
      font-weight: bold;
      margin: 23px 0 30px;
      display: none;
    }
    &__buttonLink {
      margin: 50px auto;
      display: block;
      text-decoration: none;
      border: 1px solid $base-blue;
      background-color: $base-blue;
      color: $white;
      width: 200px;
      height: 70px;
      padding: 21px;
      border-radius: 12px;
      &:hover {
        opacity: 0.7;
      }
    }
    &__mailContentLeft {
      position: absolute;
      width: 12%;
      top: 7px;
      transform: rotate(-45deg);
    }
    &__mailContentRight {
      position: absolute;
      width: 12%;
      top: 7px;
      right: 5px;
      transform: rotate(45deg);
    }
    &__mailBox {
      width: 20%;
      margin: 0 auto;
    }
    .home__mailImg {
      width: 100%;
      display: block;
    }
  }
}
/* 新規登録(users/new)・Login(sessions/new)  */
.formTitle {
  font-size: 30px;
  text-align: center;
  position: relative;
}
.formIcon__img {
  display: block;
  width: 100%;
}
.formIcon {
  width: 17%;
  position: absolute;
  top: 115px;
  left: 8px;
}
.formIcon--login {
  top: 111px
}
.form {
  width: 500px;
  margin: 35px auto 0;
  &__element {
    display: flex;
    border: 1px solid;
  }
  &__element + &__element {
    border-top: none;
  }
  &__label {
    font-size: 20px;
    width: 200px;
    display: block;
    border-right: 1px solid;
    padding-left: 22px;
  }
  &__input {
    width: 260px;
    text-align: center;
    margin: 0 auto;
  }
  &__input:focus {
    box-shadow: 0 0 9px 0 $base-blue;
    border: 5px solid #FFF !important;
    outline: 0;
  }
  &__btn {
    margin: 60px auto 0;
    display: block;
    border: 1px solid #61AAE8;
    background-color: #61AAE8;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 10px;
  }
  &__signupLink {
    text-align: center;
    margin-top: 45px;
  }
}
