/* 共通 */
$base-blue: #61AAE8;
$white: #fff;
$red: #FF0900;
$green: #45FF9F;
$black: #000;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.contents {
  flex: 1;
}
.shadow {
  display: none;
}
/* エラー文 */
.error {
  color: $red;
  margin-bottom: 40px;
}
/* 新規登録時のメッセージ */
.alert-success {
  width: 100%;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.alert-danger {
  width: 100%;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: $red;
}
/* header */
.header {
  background-color: $base-blue;
  width: 100%;
  &__elements {
    padding: 20px 50px;
    display: flex;
  }
  &__logo {
    text-decoration: none;
    color: $white;
    font-size: 26px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav {
    margin: 0 0 0 auto;
  }
  &__ul {
    justify-content: flex-start;
  }
  &__navList {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
  }
  &__navLink {
    color: $white;
    text-decoration: none;
    vertical-align: sub;
    line-height: 37px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__menu {
    display: none;
  }
}
@media screen and(max-width: 750px) {
  .header__nav {
    margin: 0 0 0 10px;
  }
  .header__logo {
    width: 70%;
  }
  .header__ul {
    display: none;
  }
  .header__menu {
    display: block;
    width: 20%;
    margin-left: 50px;
    a {
      display: block;
      text-decoration: none;
      color: $white;
      line-height: 36px;
      font-size: 19px;
    }
  }
  .header__navList {
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid $white;
  }
}

/* footer */
footer {
  background-color: $base-blue;
  color: $white;
  height: 50px;
  text-align: right;
  padding: 10px 20px;
}
/* home */
.contents {
  margin: 55px auto 100px;
  .home {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    position: relative;
    &__title {
      font-size: 78px;
      transition: font-size 1s;
      &:hover {
        font-size: 100px;
      }
    }
    &__descriptionMessage {
      font-size: 30px;
      font-weight: bold;
      margin: 23px 0 30px;
      display: none;
    }
    &__buttonLink {
      margin: 50px auto;
      display: block;
      text-decoration: none;
      border: 1px solid $base-blue;
      background-color: $base-blue;
      color: $white;
      width: 200px;
      height: 70px;
      padding: 21px;
      border-radius: 12px;
      &:hover {
        opacity: 0.7;
      }
    }
    &__mailContentLeft {
      position: absolute;
      width: 12%;
      top: 7px;
      transform: rotate(-45deg);
    }
    &__mailContentRight {
      position: absolute;
      width: 12%;
      top: 7px;
      right: 5px;
      transform: rotate(45deg);
    }
    &__mailBox {
      width: 20%;
      margin: 0 auto;
    }
    .home__mailImg {
      width: 100%;
      display: block;
    }
  }
}
/* 新規登録(users/new)・Login(sessions/new)  */
.formTitle {
  font-size: 30px;
  text-align: center;
  position: relative;
}
.formIcon__img {
  display: block;
  width: 100%;
}
.formIcon {
  width: 17%;
  position: absolute;
  top: 115px;
  left: 8px;
}
.formIcon--login {
  top: 111px
}
.form {
  width: 500px;
  margin: 35px auto 0;
  &__element {
    display: flex;
    border: 1px solid;
  }
  &__element + &__element {
    border-top: none;
  }
  &__label {
    font-size: 20px;
    width: 200px;
    display: block;
    border-right: 1px solid;
    padding-left: 22px;
  }
  &__input {
    width: 260px;
    text-align: center;
    margin: 0 auto;
  }
  &__input:focus {
    box-shadow: 0 0 9px 0 $base-blue;
    border: 5px solid #FFF !important;
    outline: 0;
  }
  &__checkbox {
    text-align: center;
    margin-top: 25px
  }
  &__btn {
    margin: 60px auto 0;
    display: block;
    border: 1px solid #61AAE8;
    background-color: #61AAE8;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 10px;
  }
  &__signupLink {
    text-align: center;
    margin-top: 45px;
  }
  &__passwordReset {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  &__gravatar {
    text-align: center;
    margin-top: 30px
  }
  &__gravatarLink {
    display: block;
  }
}
/*ユーザー一覧 /users */
.usersTitle {
  text-align: center;
}
.users {
  margin-top: 30px;
  list-style: none;
}
.usersList {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px;
  padding: 30px 20px;
  &__link {
    display: block;
    text-decoration: none;
    color: $black;
    font-size: 20px;
    margin: auto 20px;
    &:hover {
      opacity: 0.7;
      color: $base-blue;
    }
  }
  &__linkDelete {
    text-decoration: none;
    padding: 11px 0 0 20px;
    border-left: 1px solid $black;
    color: $red;
  }
}
/* user個人のページ /users/id */
.user {
  .userProfile {
    margin: 0 auto;
    text-align: center;
    &__img {
      display: block;
      margin: auto;
    }
    &__name {
      font-size: 20px;
    }
  }
  .userMicropost {
    margin: 50px auto 0;
    &__title {
      text-align: center;
    }
    &__lists {
      list-style: none;
      margin-top: 30px;
    }
  }
  .micropost {
    margin: 0 auto 20px;
    box-shadow: 2px 2px 4px;
    padding: 10px;
    &__profile {
      display: flex;
    }
    &__profileName {
      padding-top: 15px;
      margin-left: 15px;
      a {
        text-decoration: none;
      }
    }
    &__content {
      text-align: center;
    }
    &__timestamp {
      padding-left: 20px;
    }
  }
  .pagination {
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .micropost {
    width: 80%;
  }
}
/* micropostForm shared/_micropost */
.micropostForm {
  margin-top: 20px;
  &__textArea {
    textarea {
      border: 1px solid;
      width: 300px;
      height: 100px;
      &::placeholder{
        text-align: center;
        padding-top: 40px;
      }
    }
  }
  &__Button {
    border: 1px solid #61AAE8;
    background-color: #61AAE8;
    color: #fff;
    margin-top: 15px;
    width: 150px;
    height: 35px;
  }
}
